table{
    border-collapse: collapse; 
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    text-align:center;
}
table td{
    width: 80px;
    height: 30px;
    border: 1px solid;
    
 
}